{% extends "blog/index.html" %} {% block header %}
<section>
  <form method="post">
    {% csrf_token %}
    <h2>Form Django</h2>
    <table class="table">
      {{classform.as_table}}
    </table>
    <h2>Form HTML</h2>
    <label class="form-label" for="nama">Nama</label>
    <input type="text" class="form-control" name="nama" id="nama" />

    <br />

    <label class="form-label" for="alamat">Alamat</label>
    <input type="text" class="form-control" name="alamat" id="alamat" />

    <br />

    <button type="submit" class="btn btn-primary w-100">Submit</button>
  </form>

  <h2>{{nama}} {{namac}}</h2>
  <h2>{{alamat}} {{alamatc}}</h2>
</section>

{% endblock header %}
