.first-head {
  color: #0d6efd;
}

.second-head {
  color: #ffc107;
}

h3 {
  color: #198754;
}

h2 {
  color: #dc3545;
}

a {
  font-size: 2rem;
  text-decoration: none;
}

img {
  width: 25%;
  height: 25%;
  border-radius: 1rem;
  margin-top: 2rem;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

.link {
  text-decoration: none;
  color: black;
}
