<nav
  class="navbar navbar-expand-lg bg-light shadow-sm p-3 mb-5 bg-body rounded fixed-top"
>
  <div class="container-fluid">
    {% block navbar-brand %}
    <a class="navbar-brand" href="#"> Blog App </a>
    {% endblock navbar-brand %}
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:post' %}">Articles</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'hello:index' %}">Hello App</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
