<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'css/django.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'blog/blog.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendor/bootstrap/css/bootstrap.css' %}"
      type="text/css"
    />

    <title>Blog App</title>
  </head>
  <body>
    {% include "blog/components/nav.html" %}
    <div class="container">
      {% block header %}
      <section id="first">
        <h1 class="first-head">
          This is Blog App by 1204045_Muhammad Rifqi Daffa Ulhaq
        </h1>
        <a href="#second" class="btn btn-outline-primary btn-lg">Scroll</a>
      </section>
      {% endblock header %}

      <section id="second">
        <h1 class="second-head">I'am Junior Developer</h1>
        <a href="#third" class="btn btn-outline-warning btn-lg">Scroll</a>
      </section>

      <!-- <section id="blog">
        {% block content-1 %}  {% endblock content-1 %}
      </section> -->

      <section id="third">
        <h2>Django was created in the fall of 2003</h2>
        <a href="#fourth" class="btn btn-outline-danger btn-lg">Scroll</a>
      </section>

      <section id="fourth">
        <h3>Spirit of learning Django</h3>
        <a href="#fifth" class="btn btn-outline-success btn-lg">Scroll</a>
      </section>

      <section id="fifth">
        <a class="link" href="https://www.djangoproject.com/">Learn django</a>
        <div>
          <a href="#sixth" class="btn btn-outline-dark btn-md">Scroll</a>
        </div>
      </section>

      <section id="sixth">
        <h1>This picture from django</h1>
        <img src="{% static 'blog/img/code.jpg' %}" alt="" />
        <a href="#first" class="btn btn-outline-info btn-lg mt-3">Up</a>
      </section>
    </div>
    {% include "blog/components/footer.html" %}

    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
