<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Articles</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'vendor/bootstrap/css/bootstrap.css' %}"
      type="text/css"
    />
  </head>
  <body>
    <div class="container mt-2">
      <a class="btn btn-secondary" href="{% url 'blog:index' %}">Home</a>
      <div class="row mt-2">
        <div class="col-md-6 mx-auto">
          <div class="card shadow rounded">
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                <h2>Article</h2>
                <table class="table">
                  {{classform.as_table}}
                </table>
                <button type="submit" class="btn btn-primary w-100">
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Title</th>
                <th>Body</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for v in post %}
              <tr>
                <td>{{v.title}}</td>
                <td>{{v.body}}</td>
                <td>
                  <a
                    class="btn btn-sm btn-danger"
                    href="{% url 'blog:delete' v.id %}"
                    >Delete</a
                  >
                </td>
                <td>
                  <a
                    class="btn btn-sm btn-info"
                    href="{% url 'blog:update' v.id %}"
                    >Update</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
